body {
  padding: 10px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

.comment {
  /* background: orange; */
  margin: 50px 0;
  padding: 0 5px;
}


.large {
  /* background: orange; */
  margin: 60px 0;/*上下だけ*/
  /*padding: 0 20px;*/
}

.middle {
  /* background: bisque; */
   margin: 10px 0;/*上下だけ*/
}

    
.small {
  /* background: aqua; */
  margin: 4px 0;/*上下だけ*/
}