<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>回答完了（企画開発チーム2018年上期アンケート）</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

<body>
    <h1>企画開発チーム2018年上期アンケート</h1>
    <div>
        <%= user %> さんようこそ。
        <a href="/logout">ログアウト</a>
    </div>

    <div class=large>
        アンケート回答、ありがとうございました！
    </div>
    
    <a href="/quest/input">アンケート回答修正したい場合はこちら</a>
           
</body>

</html>
